<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452510999687-mr08hp22u5rmtl28i55onvg63q533hlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452510999687-mr08hp22u5rmtl28i55onvg63q533hlc</string>
	<key>API_KEY</key>
	<string>AIzaSyBx5fSU1RKjchF1oqhqGn1ubYPp_KQL4G8</string>
	<key>GCM_SENDER_ID</key>
	<string>452510999687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-32b56</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-32b56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452510999687:ios:4c38386f27b5f7862e8422</string>
</dict>
</plist>